.profile-container {
	background: white;
	padding: 0px;
	border: 1px transparent;
	border-radius: 4px;
}

.profile-cover {
	background-size: cover;
	height:30vh;
	background-position: center; 
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-image {
	height: 150px;
	border: 2px solid white;
}

.profile-container h1, h4 {
	font-family: Open Sans;
	font-weight: lighter;
	font-color: gray;
}

.profile-container .profile-content {
	height: 25vh;
	padding-top: 30px;
	text-align: center;
}
