<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} | Mxious</title>
		{% load staticfiles %}
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/global.css' %}" />
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700|Oleo+Script|Open+Sans:300italic,400italic,400,300" />
		{% block extra_stylesheets %}{% endblock %}
		<script src="{% static 'js/packaged.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/global.js' %}"></script>
		<script type="text/javascript">
			Mxious.init({
				'csrf_token': '{{ csrf_token }}'
			})
		</script>
	</head>
	<body>
		{% include 'navbar.html' %}
		<div class="container">
			{% if messages %}
				{% for message in messages %}
				    <div class="alert alert-dismissable alert-{{ message.tags }}"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message | striptags }}</div>
				{% endfor %}
			{% endif %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>