{% if request.user.is_authenticated %}
<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->


        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-brand-centered"
            data-toggle="collapse" type="button"><span class="sr-only">Toggle
            navigation</span> <span class="icon-bar"></span> <span class=
            "icon-bar"></span> <span class="icon-bar"></span></button>

            <a href="{% url 'home' %}" class="navbar-brand navbar-brand-centered">
                mxious
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <div class="nav navbar-nav navbar-left" style="margin-left: 2em"> 
                <form action="/search" class="navbar-form navbar-left " method=
                "post" role="search">
                    <div class="form-group">
                        <input class="form-control" name="query" placeholder=
                        "Search Mxious..." type="text">
                    </div>
                </form>
            </div>

            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class=
                    "dropdown-toggle" data-toggle="dropdown" href="#" role=
                    "button"><img class="img-circle nav-avatar" src="{{ request.user.profile.avatar }}"> <span class="glyphicon glyphicon-menu-down nav-glyph" aria-hidden="true"></span></a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><span class=
                            "glyphicon glyphicon-globe"></span> Explore</a>
                        </li>


                        <li>
                            <a href="#"><span class=
                            "glyphicon glyphicon-stats"></span> Charts</a>
                        </li>


                        <li>
                            <a href="#"><span class=
                            "glyphicon glyphicon-fire"></span> Trending Now</a>
                        </li>


                        <li class="divider" role="separator">
                        </li>


                        <li>
                            <a href="accounts/{{ request.user.username }}">Your Profile</a>
                        </li>


                        <li>
                            <a href="#">Settings</a>
                        </li>


                        <li>
                            <a href="{% url 'accounts:logout' %}">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            &nbsp;&nbsp;
            <button id="open-modal" href="#" class="btn btn-default navbar-btn navbar-right btn-outline"><span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> New post</button>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% else %}
<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->


        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-brand-centered"
            data-toggle="collapse" type="button"><span class="sr-only">Toggle
            navigation</span> <span class="icon-bar"></span> <span class=
            "icon-bar"></span> <span class="icon-bar"></span></button>

            <a href="{% url 'home' %}" class="navbar-brand navbar-brand-centered">
                mxious
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <div class="nav navbar-nav" style="margin-left: 2em">
                <form action="/search" class="navbar-form navbar-left" method=
                "post" role="search">
                    <div class="form-group">
                        <input class="form-control" name="query" placeholder=
                        "Search Mxious..." type="text">
                    </div>
                </form>
            </div>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" data-placement="left" data-toggle=
                "tooltip" id="menu" title="Click to explore Mxious">
                    <a aria-expanded="false" aria-haspopup="true" class=
                    "dropdown-toggle" data-toggle="dropdown" href="#" role=
                    "button"><span aria-hidden="true" class=
                    "glyphicon glyphicon-th" id="menu-icon"></span></a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><span class=
                            "glyphicon glyphicon-globe"></span> Explore</a>
                        </li>


                        <li>
                            <a href="#"><span class=
                            "glyphicon glyphicon-stats"></span> Charts</a>
                        </li>


                        <li>
                            <a href="#"><span class=
                            "glyphicon glyphicon-fire"></span> Trending Now</a>
                        </li>


                        <li class="divider" role="separator">
                        </li>


                        <li>
                            <a href="#">Sign in</a>
                        </li>


                        <li>
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endif %}